html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: 0.35em 0.75em 0.625em
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

body {
  margin: 0;
  padding: 0;
  border: none
}

img,
div,
p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
textarea,
address,
article,
aside,
dialog,
figure,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  list-style-type: none
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0
}

th {
  text-align: left;
  vertical-align: top
}

caption {
  text-align: left
}

a,
a:focus,
a:hover,
a:active {
  outline: none
}

input,
input:focus,
input:hover,
input:active,
textarea,
textarea:focus,
textarea:hover,
textarea:active,
button,
button:focus {
  outline: none
}

img {
  vertical-align: top
}

em {
  font-style: normal
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0
}

.first-view {
  max-width: 1000px;
  height: 500px;
}

@media screen and (max-width: 959px) {
  .first-view {
    position: relative;
    height: 200px;
  }
}

.page-sec .bodywrap {
  opacity: 0;
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
  will-change: filter, opacity;
  -webkit-transition: opacity 0.4s ease-out 0s, -webkit-filter 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s, -webkit-filter 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s, filter 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s, filter 0.4s ease-out 0s, -webkit-filter 0.4s ease-out 0s
}

.page-sec .bodywrap.in {
  opacity: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1)
}

.page-sec .bodywrap {
  padding-top: 18rem
}

@media screen and (max-width: 767px) {
  .page-sec .bodywrap {
    padding-top: 9rem
  }
}

#notfound .bodywrap {
  padding-top: 18rem
}

#news {
  margin: 8rem 0;
}

#news .newsCon {
  margin-top: 8rem
}

#news .newsCon.detail {
  margin-top: 0
}

#news .newsCon__tt {
  border: none;
  text-align: center;
  margin-bottom: 6rem
}

#news .newsCon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -6%;
  margin-bottom: 9rem;
  position: relative
}

#news .newsCon__list::after {
  width: calc(100% / 3 - 3.25%);
  content: ""
}

#news .newsCon__list li {
  width: calc(100% / 3 - 3.25%);
  margin-top: 6%
}

#news .newsCon__list li a:hover {
  color: #816D51
}

#news .newsCon__list li .img {
  position: relative;
  padding-top: 72.41%;
  overflow: hidden
}

#news .newsCon__list li .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

#news .newsCon__list li .txt {
  margin-top: 2.5rem
}

#news .newsCon__list li .txt .tt {
  font-weight: 700
}

#news .newsCon__list li .txt .info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

#news .newsCon__list li .txt .info .date {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #816D51
}

#news .newsCon__list li .txt .info .cate span {
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  border: 1px solid #816D51;
  letter-spacing: 0;
  color: #816D51;
  padding: .2rem;
  border-radius: .3rem
}

#news .newsCon__detail .article {
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#news .newsCon__detail .article .info {
  padding: 6% 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#news .newsCon__detail .article .info .date {
  font-family: "Lato", sans-serif;
  color: #816D51;
  font-size: 0.9rem;
  line-height: 1
}

#news .newsCon__detail .article .info .cate {
  margin-left: 1rem
}

#news .newsCon__detail .article .info .cate a {
  color: #816D51
}

#news .newsCon__detail .article .info .cate span {
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  border: 1px solid #816D51;
  letter-spacing: 0;
  color: #816D51;
  padding: .2rem;
  border-radius: .3rem
}

#news .newsCon__detail .article .info .cate span+span {
  margin-left: .5rem
}

#news .newsCon__detail .article .maintt {
  position: relative;
  margin-bottom: 4.5rem
}

#news .newsCon__detail .article .maintt::after {
  content: "";
  width: 100%;
  height: 1px;
  margin: auto;
  background-image: -webkit-linear-gradient(left, #000, #000 1px, transparent 1px, transparent 7px);
  background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 7px);
  background-size: 7px 1px;
  background-repeat: repeat-x;
  display: block;
  margin-top: 3rem
}

#news .newsCon__detail .article .maintt span {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2;
  padding: 0 6%
}

#news .newsCon__detail .article .c-post {
  padding: 0 6% 6%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
}

#news .newsCon__pager {
  margin-top: 4rem
}

#news .newsCon__pager .inr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#news .newsCon__pager .inr .prev,
#news .newsCon__pager .inr .next {
  position: absolute;
  top: 0
}

#news .newsCon__pager .inr .index a,
#news .newsCon__pager .inr .prev a,
#news .newsCon__pager .inr .next a {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem
}

#news .newsCon__pager .inr .index a:hover,
#news .newsCon__pager .inr .prev a:hover,
#news .newsCon__pager .inr .next a:hover {
  color: #816D51
}

#news .newsCon__pager .inr .index {
  left: -.5rem
}

#news .newsCon__pager .inr .index a::before {
  font-family: "icomoon";
  content: "\e902";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
  font-size: 1.1rem;
  padding-left: .8rem
}

#news .newsCon__pager .inr .prev {
  left: -.5rem
}

#news .newsCon__pager .inr .prev a::before {
  font-family: "icomoon";
  content: "\e900";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
  font-size: 1rem;
  padding-left: .5rem
}

#news .newsCon__pager .inr .next {
  right: -.5rem
}

#news .newsCon__pager .inr .next a::after {
  font-family: "icomoon";
  content: "\e900";
  font-size: 1rem;
  padding-left: .5rem
}

#news .newsCon__pager .inr .nmb {
  line-height: 1
}

#news .newsCon__pager .inr .nmb+.nmb {
  margin-left: 1.5rem
}

#news .newsCon__pager .inr .nmb a {
  display: block;
  border-radius: 100%;
  padding: .6rem .75rem .8rem .9rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  -webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  border: 1px solid #000
}

#news .newsCon__pager .inr .nmb:hover a,
#news .newsCon__pager .inr .nmb.on a {
  background: #816D51;
  color: #fff;
  border-color: #816D51
}

@media screen and (max-width: 767px) {
  #news .newsCon {
    margin-top: 5rem
  }

  #news .newsCon.detail {
    padding: 0
  }

  #news .newsCon.detail .newsCon__pager {
    border-top: 1px solid #E8E8E8;
    padding-top: 2rem;
    margin: 0 2.5rem
  }

  #news .newsCon__tt {
    margin-bottom: 4rem
  }

  #news .newsCon__list {
    margin-bottom: 5rem
  }

  #news .newsCon__list li {
    width: 100%
  }

  #news .newsCon__list li+li {
    margin-top: 4rem
  }

  #news .newsCon__list li .txt {
    margin-top: 2rem
  }

  #news .newsCon__detail .article {
    border: none
  }

  #news .newsCon__detail .article .info {
    padding: 0 2.5rem
  }

  #news .newsCon__detail .article .maintt {
    margin-bottom: 3rem
  }

  #news .newsCon__detail .article .maintt span {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 2.5rem;
    display: block;
    margin-top: 1rem
  }

  #news .newsCon__detail .article .c-post {
    padding: 0 2.5rem 5rem;
  }

  #news .newsCon__pager {
    margin-top: 2rem
  }

  #news .newsCon__pager .inr .prev,
  #news .newsCon__pager .inr .next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }

  #news .newsCon__pager .inr .nmb {
    display: none
  }

  #news .newsCon__pager .inr .nmb a {
    padding: .5rem .65rem .6rem .8rem
  }

  #news .newsCon__pager .inr .nmb.on,
  #news .newsCon__pager .inr .nmb.spshow {
    display: block
  }
}

#news .newsCon.detail {
  margin-top: 0
}

.c-inr {
  width: 100%;
  max-width: calc(1000px + 6rem);
  margin: 0 auto;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1
}

@media screen and (max-width: 767px) {
  .c-inr {
    width: 100%;
    max-width: 100%;
    padding: 0 2.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
}